GOOLGE_CLIENT_ID = 518900990814-3bv3d4g750a2ihfl1qlvcijo1rrtgit6.apps.googleusercontent.com
CLIENT_SECRET = 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

NEXTAUTH_URL = http://localhost:3000

# https://generate-secret.vercel.app/32
NEXTAUTH_SECRET = c42963dc139b3727d727858a7a3ab6ca

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root@localhost:3306/f0bima"
