@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .myForm {
    @apply bg-white rounded-2xl text-black py-2 px-4 shadow-xl w-full;
  }
  .myButton {
    @apply rounded-2xl py-2 px-4 shadow-xl;
  }
  .myLabel {
    @apply text-lg font-bold text-gray-500;
  }
  .formGroup {
    @apply flex flex-col gap-1;
  }
  .myCard {
    @apply bg-white rounded-2xl shadow-2xl p-5;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  /* background: #f7f4ed; */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #2a3942;
  border-radius: 100vh;
  /* border: 3px solid #f6f7ed; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: gray;
}
